@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
} 

:root {
    --cor-preta: #000;
    --cor-branca: #FFF;
    --verde-principal: #3EB24B;
    --verde-secundario: #B5FFB3;
}

body {
    background-color: var(--cor-branca);
    padding: 0 1rem;
}

header, 
.sec-principal, 
.sec-cursos,
footer {
    border-color: var(--cor-preta);
    border-style: solid;
    border-width: 0 1px 1px 1px;
    padding: 1.25rem;
}

header img {
    display: block;
    margin: 1rem auto;
}

header nav {
    display: flex;
    margin: 1rem auto 0;
    flex-wrap: wrap;
    justify-content: center;
}

nav a {
    color: var(--cor-preta);
    font-size: 1.25rem;
    padding: 0.5rem;
    text-decoration: none;
}

header nav a:nth-child(2n-1) {
    text-align: right;
}

header nav a:nth-child(5n) {
    padding-left: 0;
}

.button {
    background-color: var(--verde-principal);
    border: 2px solid var(--cor-preta);
    box-shadow: 4px 4px 0 var(--cor-preta);
    color: var(--cor-preta);
    display: block;
    font-size: 1.25rem;
    padding: 0.75rem 1rem;
    max-width: 14rem;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
}

.sec-principal {
    padding-right: 0;
    padding-bottom: 16rem;
}

.sec-principal img {
    display: block;
    margin: 1.25rem 0 0 auto;
    max-width: 100%;
}

h1 {
    font-size: 3rem;
    line-height: 105%;
}

h2 {
    font-size: 2.5rem;
}

h3{
    font-size: 1.6rem;
    font-weight: 300;
}

ol{
    margin-left: 1rem;
    font-weight: 300;
    font-size: 1.6rem;
    
}


li{
    margin: 1rem;
}

.sec-principal p {
    font-size: 1.25rem;
    padding-right: 1.25rem;
}

.sec-principal .button {
    position: relative;
}

.sec-principal .button::after {
    content: '';
    background: url("img/arrow-curve.svg");
    position: absolute;
    top: 5rem;
    right: -4rem;
    height: 48px;
    width: 132px;    
}

.decoracao {
    display: block;
    position: relative;
}

.decoracao::after {
    content: '';
    background: url("img/three-dashes.svg");
    position: absolute;
    top: -0.75rem;
    height: 36px;
    width: 40px;
}

.sec-cursos {
    padding-bottom: 8rem;
}

.cards-cursos {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 1.25rem;
    margin-top: -8rem;
    margin-bottom: 4rem;
}

.card {
    background-color: var(--verde-principal);
    border: 2px solid var(--cor-preta);
    box-shadow: 4px 4px 0 var(--cor-preta);
    max-width: 17rem;
    padding: 2rem 0 0 2rem;
}

.card:nth-child(2n) {
    align-self: end;
    background-color: var(--verde-secundario);
}

.card strong {
    display: block;
    font-size: 1.5rem;
    margin: 1rem 1rem 0;
}

.alinha-txt {
    text-align: justify;
    word-wrap: break-word;
    margin: 0.4rem;
}

.card a {
    display: block;
    margin: 3rem 0 0 auto;
    width: fit-content;
}

footer {
    border-bottom: 0;
    padding: 1rem 1.25rem 4rem;
    text-align: center;
}

footer nav a {
    display: block;
    padding-left: 0;
    text-align: center;
}

.download-page {
    margin: auto;
}

.download-page-button {
    text-transform: uppercase;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.download-page-button:hover { 
    background-color: var(--verde-secundario);
}


.download-mat, button {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    font-weight: bold;
    font-size: 1.1rem;
}

.about-mat {
    margin: 0.5rem;
    padding: 0.3rem;
    font-size: 1.3rem;
}

.download-mat.div, button:hover {
    background-color: var(--cor-branca);
}

.margem-topo-1 {
    margin-top: 1rem;
}

.margem-topo-2 {
    margin-top: 2rem;
}

.margem-baixo-1 {
    margin-bottom: 1rem;
}

.margem-baixo-2 {
    margin-bottom: 2rem;
}

.mx-auto {
    margin-left: auto;
    margin-right: auto;
}

.texto-primario {
    color: var(--verde-principal);
    
}

.texto-centro {
    text-align: center;
}

@media screen and (min-width: 40rem) {
    header nav {
        display: block;
        text-align: center;
    }

    .cards-cursos {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }

    .card:nth-child(2n) {
        margin-top: 1rem;
    }
}

@media screen and (min-width: 48rem) {
    header div {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    header img,
    header nav,
    header .button {
        margin: 0;
    }
}

@media screen and (min-width: 72rem) {
    h1, h2 {
        font-size: 4rem;
    }

    .container {
        display: flex;
        align-items: center;
        margin: 0 auto;
        max-width: 72rem;
    }

    .container.row-reverse {
        flex-direction: row-reverse;
    }

    .about-column {
        text-align: justify;
    } 

    .about-column p {
        font-size: 1.25rem;
        max-width: 16rem;
        text-align: center;
    } 

    footer nav {
        flex: 2;
    } 
}

@media screen and (min-width: 80rem) {
    .container {
        max-width: 80rem;
    }
}
