@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

:root {
    --cor-preta: #000;
    --cor-branca: #FFF;
    --verde-principal: Sinta-se
    Protegido
    na internetB;
    --verde-secundario: #B5FFB3;
    --vermelho: #A10101B3;
}

button {
    cursor: pointer;
}

body {
    background-color: var(--cor-branca);
    color: var(--cor-preta);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

a {
    text-decoration: none;
    color: var(--cor-preta);
    margin: 0.5rem;
    font-size: 1.3rem;
}

nav {
    padding-bottom: 1rem;
    display: flex;
    justify-content: center;
    gap: 1rem;
}

header, footer, .main-content {
    border-color: var(--cor-preta);
    border-style: solid;
    border-width: 0 1px 1px 1px;
    padding: 1.25rem;
    margin: 0 1.25rem;
}

.header, .footer {
    text-align: center;
    padding: 1rem;
}

.footer {
    border-width: 0 1px;
}

.main-content {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}

.container-quiz {
    background-color: var(--cor-branca);
    width: 100%;
    max-width: 800px;
    border-style: solid;
    border-width: 0 1px 1px 1px;
    box-shadow: 0 0 1px 1px;
    padding: 2.63rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container-perguntas {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 24px;
}

.perguntas {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
}

.respostas-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
}

.prox-pergunta {
    margin-top: 32px;
}

.button-quiz {
    background-color: var(--verde-secundario);
    border: 2px solid var(--cor-preta);
    box-shadow: 4px 4px 0 var(--cor-preta);
    color: var(--cor-preta);
    display: block;
    font-size: 0.90rem;
    padding: 0.80rem;
    max-width: 400px;
    text-align: center;
    text-decoration: none;
    font-weight: bold;


    font-size: 1rem; /* Aumentar o tamanho da fonte */
    padding: 1rem; /* Ajustar o padding para caber o texto */
    max-width: 100%; /* Garantir que o botão não ultrapasse a largura do contêiner */

}

.button-quiz:hover {
    box-shadow: 1px 1px #372E33,
                2px 2px #372E33,
                3px 3px #372E33,
                4px 4px #372E33,
                5px 5px #372E33,
                6px 6px #372E33,
                2px 2px #372E33;
    transform: translateX(-3px);
}

.button-quiz:not(:disabled) {
    filter: brightness(0.8);
}

.esconde-elemento {
    display: none;
}

.correct {
    background-color: var(--verde-secundario);
}

.incorrect {
    background-color: var(--vermelho);
}

.resposta:disabled {
    cursor: not-allowed;
}

.mensagem-final {
    display: block;
    margin-top: 8px;
    font-size: 1rem;
    text-align: center;
}

.mensagem-final span {
    display: block;
    margin-top: 8px;
   
}



/* Estilos para telas maiores */
@media (min-width: 48rem) {
    .respostas-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 16px;
    }

    .button-quiz {
       
        font-size: 0.90rem; /* Aumentar o tamanho da fonte */
        padding: 1rem; /* Ajustar o padding para caber o texto */
        max-width: 100%; /* Garantir que o botão não ultrapasse a largura do contêiner */
    
    }


    .container-quiz {
        height: 60vh;
    }
}
